JWK='{"kty":"EC","d":"heE0cxO3zHFiAtZcvwG6GsrY2DH4bqiS0LnED-duLkw","use":"sig","crv":"P-256","kid":"8srJDfp4dQEs1IrPLh5hH62OX3CMw8IwGMzPEoLOU3A","x":"a9RTbHs3EIh1ozFMy1JbZRbynxdT4H6XGz6FidbzBNE","y":"wqOrjMl4RBorojuGudrxFaG6-JEWxgdLYKJ2ujqG7Xg","alg":"ES256"}'
PUB_JWK='{"kty":"EC","use":"sig","crv":"P-256","kid":"8srJDfp4dQEs1IrPLh5hH62OX3CMw8IwGMzPEoLOU3A","x":"a9RTbHs3EIh1ozFMy1JbZRbynxdT4H6XGz6FidbzBNE","y":"wqOrjMl4RBorojuGudrxFaG6-JEWxgdLYKJ2ujqG7Xg","alg":"ES256"}'
ISSUER='https://example-issuer.com'
